@import url(./open_sans.min.css);

@import url(./roboto.min.css);

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h3,h4,h5 {
  margin-top: 5px;
  font-weight: 600;
}

.nav>li>a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav.navbar-right>li>a {
  color: #999c9e;
}

.navbar-default .nav>li>a:focus,.navbar-default .nav>li>a:hover {
  background-color: #293846;
  color: #fff;
}

.nav.navbar-top-links>li>a:focus,.nav.navbar-top-links>li>a:hover,.navbar-default {
  background-color: transparent;
}

.nav>li>a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-default {
  border-color: #2f4050;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 40px;
}

.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

code {
  white-space: nowrap;
}

.nav-header {
  padding: 33px 25px;
  background: url(patterns/header-profile.png) no-repeat;
}

.nav-header a {
  color: #DFE4ED;
}

.nav.navbar-top-links a {
  font-size: 14px;
}

.navbar-default .landing_link a {
  background: #394E66;
  color: #fff;
}

.navbar-default .landing_link a:hover {
  background: #394E66!important;
  color: #fff;
}

.navbar-default .landing_link a span.label {
  background: #fff;
  color: #394E66;
}

.navbar-fixed-top {
  transition-duration: .4s;
  border-bottom: 1px solid #e7eaec!important;
  z-index: 2030;
}

.navbar-fixed-top,.navbar-static-top {
  background: #f3f3f4;
}

.fixed-nav #wrapper {
  margin-top: 0;
}

body.fixed-nav #wrapper #page-wrapper {
  margin-top: 60px;
}

body.top-navigation.fixed-nav #wrapper #page-wrapper {
  margin-top: 0;
}

.body-small .navbar-fixed-top {
  margin-left: 0;
}

.top-navigation #page-wrapper {
  margin-left: 0;
}

.white-bg .navbar-fixed-top,.white-bg .navbar-static-top {
  background: #fff;
}

.top-navigation .navbar {
  margin-bottom: 0;
}

.top-navigation .nav>li>a {
  padding: 15px 20px;
  color: #676a6c;
}

.top-navigation .nav>li a:focus,.top-navigation .nav>li a:hover {
  background: #fff;
  color: #394E66;
}

.top-navigation .navbar-right {
  margin-right: 10px;
}

.btn-default:active,.btn-white:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15) inset;
}

.top-navigation .navbar-brand {
  background: #394E66;
  color: #fff;
  padding: 15px 25px;
}

.btn-success:active {
  background-image: none;
}

.top-navigation .navbar-top-links li:last-child {
  margin-right: 0;
}

.fixed-nav #wrapper.top-navigation,.top-navigation.fixed-nav #wrapper {
  margin-top: 50px;
}

.top-navigation .wrapper.wrapper-content {
  padding: 40px;
}

.body-small .top-navigation .wrapper.wrapper-content,.top-navigation.body-small .wrapper.wrapper-content {
  padding: 40px 0;
}

.navbar-toggle {
  background-color: #394E66;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

@media (max-width:768px) {
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}

.btn {
  border-radius: 3px;
}

.btn-success {
  background-color: #394E66;
  border-color: #394E66;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success:hover {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFF;
}

.btn-success[disabled],.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover {
  background-color: #1f90d8;
  border-color: #1f90d8;
}

.btn-default {
  color: inherit;
  background: #fff;
  border: 1px solid #e7eaec;
}

.btn-danger:active,.btn-link:active {
  background-image: none;
}

.btn-default:active,.btn-default:active:focus,.btn-default:active:hover,.btn-default:focus,.btn-default:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-default[disabled],.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover {
  color: #cacaca;
}

.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFF;
}

.btn-danger:active,.btn-danger:active:focus,.btn-danger:active:hover,.btn-danger:focus,.btn-danger:hover {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #FFF;
}

.btn-danger[disabled],.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover {
  background-color: #ef6776;
  border-color: #ef6776;
}

.btn-link {
  color: inherit;
}

.btn-link:active,.btn-link:focus,.btn-link:hover {
  color: #394E66;
  text-decoration: none;
}

.btn-link[disabled],.btn-link[disabled]:active,.btn-link[disabled]:focus,.btn-link[disabled]:hover {
  color: #cacaca;
}

.btn-white {
  color: inherit;
  background: #fff;
  border: 1px solid #e7eaec;
}

.btn-white:active,.btn-white:active:focus,.btn-white:active:hover,.btn-white:focus,.btn-white:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-white:active {
  background-image: none;
}

.btn-white[disabled],.btn-white[disabled]:active,.btn-white[disabled]:focus,.btn-white[disabled]:hover {
  color: #cacaca;
}

.form-control,.form-control:focus,.navbar-collapse,.navbar-form,.panel {
  box-shadow: none;
}

.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  text-shadow: none;
  font-weight: 600;
}

.btn:focus {
  outline: 0!important;
}

.label {
  font-size: 10px;
  padding: 3px 8px;
}

.label-success {
  background-color: #1c84c6;
  color: #FFF;
}

.label-danger {
  background-color: #ed5565;
  color: #FFF;
}

.label-white {
  background-color: #FFF;
  color: #5E5E5E;
}

.label-white {
  background-color: #2A2E36;
  color: #8B91A0;
}

.h-150 {
  min-height: 150px;
}

.h-200 {
  min-height: 200px;
}

.img-circle {
  border-radius: 50%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.inline {
  display: inline-block!important;
}

.input-s-sm {
  width: 120px;
}

.input-s {
  width: 200px;
}

.input-s-lg {
  width: 250px;
}

.form-control {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 14px;
}

.form-control:focus {
  border-color: #394E66!important;
}

.vertical-timeline-icon {
  text-align: center;
}

.vertical-timeline-iconNew {
  text-align: center;
}

#wrapper,body {
  overflow-x: hidden;
}

.img-container {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.vertical-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.vertical-container::after {
  content: '';
  display: table;
  clear: both;
}

#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #f1f1f1;
}

.vertical-timeline-content .btn {
  float: right;
}

#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}

@media only screen and (min-width:1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #vertical-timeline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-block:first-child {
  margin-top: 0;
}

.vertical-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width:1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
  }

  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
  }

  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
}

.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}

.vertical-timeline-iconNew {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
}

.vertical-timeline-iconNew i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
  /*    -moz-transition: -moz-transform .7s;
    -webkit-transition: -webkit-transform .7s;
    -o-transition: -o-transform .7s;
    -ms-transition: -ms-transform .7s;
    transition: transform .7s;
*/
}

/*
.vertical-timeline-iconNew i:hover{

    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

}

*/

@media only screen and (min-width:1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }

  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
}

@media only screen and (min-width:1170px) {
  .center-orientation .vertical-timeline-iconNew {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }

  .center-orientation .vertical-timeline-iconNew i {
    margin-left: -12px;
    margin-top: -10px;
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: .25em;
  padding: 1em;
}

.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}

.vertical-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.vertical-timeline-content .vertical-date {
  float: left;
  font-weight: 500;
}

.vertical-date small {
  color: #394E66;
  font-weight: 400;
}

.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

@media only screen and (min-width:768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }

  .vertical-timeline-content p {
    font-size: 13px;
  }
}

@media only screen and (min-width:1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #fff;
  }

  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content,  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right;
  }

  .center-orientation .vertical-timeline-content .vertical-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 2px;
    font-size: 14px;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #fff transparent transparent;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
}

body,html {
  height: 100%;
}

a {
  cursor: pointer;
}

a:focus,a:hover {
  text-decoration: none;
}

#wrapper {
  width: 100%;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative!important;
}

@media (min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}

.title-action {
  text-align: right;
  padding-top: 30px;
}

.link-block,.nav.navbar-top-links .link-block a {
  font-size: 12px;
}

.panel.blank-panel {
  background: 0 0;
  margin: 0;
}

.link-block {
  padding: 10px;
}

.link-block a {
  font-size: 10px;
  color: inherit;
}

code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
}

.gray-bg {
  background-color: #f3f3f4;
}

.white-bg {
  background-color: #fff;
}

.navy-bg {
  background-color: #394E66;
  color: #fff;
}

.navyNew-bg {
  background-color: #394E66;
  color: #fff;
  -moz-transition: -moz-transform .7s;
  -webkit-transition: -webkit-transform .7s;
  -o-transition: -o-transform .7s;
  -ms-transition: -ms-transform .7s;
  transition: transform .7s;
}

.navyNew-bg:hover {
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.black-bg {
  background-color: #262626;
}

.panel-success {
  border-color: #1c84c6;
}

.panel-danger {
  border-color: #ed5565;
}

.panel-title {
  font-size: inherit;
}

.text-navy {
  color: #394E66;
}

.text-success {
  color: #1c84c6;
}

.text-danger {
  color: #ed5565;
}

.text-white {
  color: #fff;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-lg {
  padding: 30px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-lg {
  margin: 30px;
}

.m-n {
  margin: 0!important;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.block {
  display: block!important;
}

.message,.message-content {
  display: block;
}

.project-title a {
  font-size: 14px;
  color: #676a6c;
  font-weight: 600;
}

.message-input {
  height: 90px!important;
}

.message {
  padding: 10px 20px;
}

.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}

.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  position: relative;
  border-radius: 4px;
}

.message-date {
  font-size: 10px;
  color: #888;
}

.article h1,.blog h2 {
  font-weight: 700;
}

.contact-type {
  width: 20px;
  color: #c1c3c4;
}

.blog .btn,.blog h5 {
  margin: 0 0 5px;
}

.article h1 {
  font-size: 48px;
  color: #2F4050;
}

.article p {
  font-size: 15px;
  line-height: 26px;
}

.article-title {
  text-align: center;
  margin: 40px 0 100px;
}

ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

.social-action {
  margin: 15px;
}

.social-avatar {
  padding: 15px 15px 0;
}

.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.social-body {
  padding: 15px;
}

.social-body img {
  margin-bottom: 10px;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
    transform: translateX(42px) rotate(-90deg) scale(.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
    transform: translateX(42px) rotate(-90deg) scale(.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-threeBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-threeBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

body.landing-page {
  color: #676a6c;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  background-color: #fff;
}

.landing-page span.navy {
  color: #394E66;
}

.landing-page p.text-color {
  color: #676a6c;
}

.landing-page a.navy-link {
  color: #394E66;
  text-decoration: none;
}

.landing-page a.navy-link:hover {
  color: #394E66;
}

.landing-page section p {
  color: #aeaeae;
  font-size: 13px;
}

.landing-page address {
  font-size: 13px;
}

.landing-page h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
}

.landing-page .navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid #394E66;
}

.landing-page .navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.landing-page .navbar-wrapper>.container {
  padding-right: 0;
  padding-left: 0;
}

.landing-page .navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.landing-page .navbar-default.navbar-scroll {
  background-color: #fff;
  border-color: #fff;
  padding: 15px 0;
}

.landing-page .navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all .3s ease-in-out 0s;
}

.landing-page .navbar-default .nav li a {
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.landing-page .navbar-nav>li>a {
  padding-top: 25px;
  border-top: 6px solid transparent;
}

.landing-page .navbar-default .navbar-nav>li>a:focus,.landing-page .navbar-default .navbar-nav>li>a:hover {
  color: #394E66;
  background: inherit;
}

.landing-page .navbar-default .navbar-brand:focus,.landing-page .navbar-default .navbar-brand:hover {
  background: #394E66;
  color: #fff;
}

.landing-page .navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  background: #394E66;
  padding: 15px 20px;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
  transition: all .3s ease-in-out 0s;
}

.landing-page .navbar-scroll.navbar-default .nav li a {
  color: #676a6c;
}

.landing-page .navbar-scroll.navbar-default .nav li a:hover {
  color: #394E66;
}

.landing-page .navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}

.landing-page .nav>li>a {
  padding: 25px 10px 15px;
}

.landing-page .navbar-scroll .navbar-nav>li>a {
  padding: 20px 10px;
}

.landing-page .navbar-fixed-top {
  border: none!important;
}

.landing-page .navbar-fixed-top.navbar-scroll {
  border-bottom: 1px solid #e7eaec!important;
}

.landing-page .navbar.navbar-scroll .navbar-brand {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  height: auto;
}

.landing-page .header-back {
  height: 320px;
  width: 100%;
}

.landing-page .header-back.one {
  background: url(../img/landing/header_four.jpg) 50% 0 no-repeat;
}

.landing-page .header-back.two {
  background: url(../img/landing/header_two.jpg) 50% 0 no-repeat;
}

.landing-page .features-block,.landing-page .features-text {
  margin-top: 40px;
}

.landing-page .features small {
  color: #394E66;
}

.landing-page .features h2 {
  font-size: 18px;
  margin-top: 5px;
}

.landing-page .features-icon {
  color: #394E66;
  font-size: 40px;
}

.landing-page .navy-section {
  margin-top: 60px;
  background: #394E66;
  color: #fff;
  padding: 20px 0;
}

.landing-page .gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}

.landing-page .team-member {
  text-align: center;
  position: relative;
}

/**.landing-page .team-member img {
    margin: auto;
}**/

.landing-page .img1 {
  position: relative;
  margin: auto;
}

.landing-page .img2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.landing-page .research-member {
  text-align: center;
}

.landing-page .research-member img {
  margin: auto;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  -moz-transition: -moz-transform .7s;
  -webkit-transition: -webkit-transform .7s;
  -o-transition: -o-transform .7s;
  -ms-transition: -ms-transform .7s;
  transition: transform .7s;
}

.landing-page .research-member img:hover {
  -moz-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.landing-page .research-member-new {
  text-align: center;
}

.landing-page .research-member-new img {
  margin: auto;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
}

.landing-page .social-icon a {
  background: #394E66;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
  -moz-transition: -moz-transform .7s;
  -webkit-transition: -webkit-transform .7s;
  -o-transition: -o-transform .7s;
  -ms-transition: -ms-transform .7s;
  transition: transform .7s;
}

.landing-page .social-icon a:hover {
  background: #394E66;
  /*#4085AE;*/
  -moz-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.landing-page .img-small {
  height: 88px;
  width: 88px;
}

.landing-page .contact {
  background-image: url(../img/landing/word_map.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.landing-page section.timeline {
  padding-bottom: 30px;
}

@media (min-width:768px) {
  .landing-page .navbar-wrapper {
    margin-top: 20px;
  }

  .landing-page .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}

@media (max-width:768px) {
  .landing-page .navbar.navbar-scroll .navbar-brand {
    margin-top: 6px;
  }

  .landing-page .navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0;
  }

  .landing-page .navbar-default .nav li a {
    color: #676a6c;
  }

  .landing-page .navbar-default .nav li a:hover {
    color: #394E66;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7eaec;
    border-radius: 0;
  }

  .landing-page .nav>li>a {
    padding: 25px 10px 15px;
  }

  .landing-page .navbar-nav>li>a {
    padding: 20px 10px;
  }

  .landing-page .navbar .navbar-brand {
    margin-top: 6px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    height: auto;
  }

  .landing-page .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 5px;
  }

  .landing-page .navbar .navbar-header {
    display: block;
    float: none;
  }

  .landing-page .navbar .navbar-header .navbar-toggle {
    background-color: #fff;
    padding: 9px 10px;
    border: none;
  }
}

.floating-label-form-group textarea,.floating-label-form-group input {
  border-color: #394E66;
}